PORT = XXXXXX // for example 5000
DEV_ENV = XXXXXX // Is the server is not development environment or not. put true or false.
ORIGIN = XXXXXX // CORS origin of your app "*" for everyone and http://localhost:3000 for local react app


// THIS ONE IS MOST IMPORTANT
// Copy your instagram account cookie from network tab and paste here.
COOKIE = XXXXXX // 
